.card {
  &:link,
  &:visited {
    flex: 0 0 33%;
    border: 1px solid $color-grey;
    border-radius: 0.8rem;
    background-color: $color-primary-medium;
    padding: 2.5rem;
    text-decoration: none;
    color: $color-white;
  }

  &:hover {
    color: $color-primary-medium;
    border: 1px solid $color-white;
    background-color: $color-white;
  }

  &--accent:link,
  &--accent:visited {
    border: 1px solid $color-secondary;
    background-color: $color-secondary;

    &:hover {
      border: 1px solid $color-white;
      background-color: $color-white;

      & p {
        color: $color-primary-medium;
      }
    }
  }

  &:not(:last-child) {
    margin-right: 1.8rem;
  }

  &__title {
    margin-bottom: 1.3rem;
  }

  &__description {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Open Sans";
    color: $color-grey;

    &--accent {
      color: $color-white;
    }
  }
}
